name: Restart PM2 process

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SSH 연결
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          cat >>~/.ssh/config <<END
          Host ${{ secrets.SSH_HOST_NAME }}
            HostName ${{ secrets.SERVER_HOST }}
            User ${{ secrets.SERVER_USER }}
            Port ${{ secrets.SERVER_PORT }}
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no
          END

      - name: checkout 코드를 복사
        run: |
          ssh ${{ secrets.SSH_HOST_NAME }} 'sudo mkdir -p /opt/app'
          ssh ${{ secrets.SSH_HOST_NAME }} 'sudo chown ubuntu:ubuntu /opt/app'
          scp -r ./[!.]* ${{ secrets.SSH_HOST_NAME }}:/opt/app

      - name: 의존성 설치
        run: |
          ssh ${{ secrets.SSH_HOST_NAME }} 'npm install --prefix /opt/app/'

      - name: Restart PM2
        run: |
          ssh ${{ secrets.SSH_HOST_NAME }} 'pm2 restart peekle'
